* {
    margin:0;
    padding:0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color:white;
}

.grad1{
  background-color:white;
  transition: background ease-in-out;
  background-image: linear-gradient(to right top, #e56600, #e75d1c, #e8552d, #e74d3a, #e54746, #e24350, #de4059, #d93e61, #d23e6a, #ca3f72, #c1407a, #b74380);
}

header{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem 1rem;
}

img{
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 50%;
}

h1{
    font-size: 1.5rem;
    margin:0.5rem;
}

p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

main{
  margin: 0 0.5rem;
  display: flex;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
}

.flex{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top:-1rem;
    padding-bottom: 125px;
}
a{
    color:white;
    background-image: linear-gradient(to right top, #e56600, #e75d1c, #e8552d, #e74d3a, #e54746, #e24350, #de4059, #d93e61, #d23e6a, #ca3f72, #c1407a, #b74380);
    padding: 0.7rem 4rem;
    margin-bottom:0.5rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #b74380;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    font-size: 1rem;

}

.far,.fab{
    font-size:1rem;
}

/*TROCAR BACKGROUND*/

.toggle{
    display:inline-block;
    position: relative;
    width: 50px;
    padding: 8px 6px;
    top:5px;
    left:120px;
    font-size:1rem;
    color:white;
}

.toggle input{
    opacity:0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: #300019;
    color: white;
    webkit-transition: .4s;
    transition: 4s;
    border-radius: 20px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  color: white;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #e24350;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.night{
    background-image: linear-gradient(to right top, #00071a, #010d2c, #00123d, #00134e, #10105e, #270b5b, #350657, #400053, #410041, #3e0031, #380024, #300019);
}

